* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#jumbo-landing {
	padding-top: 35vh;
	height: 100vh;
	margin-bottom: 0;

}

.zoomIn {
	/*-webkit-animation-delay: 1.75s;*/
}

#jumbo-button {
	font-size: 5em;
	letter-spacing: 0.25em;
}

#button-land {
	border-color: #f14e32;
	color: #f14e32;
	/*border-radius: 0.15rem;*/
}

#button-land:hover {
	background-color: #f14e32;
	color: #f5f5f5;
	/*border-radius: 0.15rem;*/
}

#landing-p,
#landing-small {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

#landing-h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	letter-spacing: 0.15rem;
}

#landing-small {
	color: #7d7d7d;
}

.gitL {
	background-color: #f14e32;
	color: white;
}


.gitH {
	background-color: #4078c0;
	/*color: white;*/	
}

#tldr {
	font-size: 0.75em;
	text-align: center;
}

#install,
#download {
	text-align: center;
}

#install {
	font-weight: 600;
}

#download {
	font-weight: 200;
}

#jumbo-intro {
	height: 100vh;
	padding-top: 30vh;
	margin-bottom: 0;
}











 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

	#introState {
		font-size: 1.25em;
		text-align: center;
	}

	#jumbo-intro {
		text-align: center;
		padding-top: 18vh;
	}

	#download {
		font-size: 0.80em;
		margin-bottom: 0;
	}


 }

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }